/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
log.txt
log/puma*
log/*.txt
incoming_traffic.json
outgoing_traffic.json
node_modules
test/js/*bundle.js
dcjs/dcjs-combined*.js
dcjs-combined*.js
